<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>

</head>
<body>
<table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>标题</th>
            <th>内容</th>
            <th>图片</th>
            <th>时间</th>
            <th>类型</th>
        </tr>
        </thead>
        <tbody>
        {% for row in ls %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.title }}</td>
                <td>{{ row.content }}</td>
                <td>{{ row.image }}</td>
                <td>{{ row.time }}</td>
                <td>{{ row.type }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>